.room-details-header {
    width: 100vw;
    height: 90vh;
    background-image: url(../../assets/img/jpeg/room-1.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-details-header-content {
    background-color: rgba(0, 0, 0, 0.553);
    width: 50vw;
    height: 27vh;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-details-header-content h1 {
    font-size: 6vmin;
}

.room-details-line-bar {
    width: 130px;
    height: 4px;
    background-color: rgb(180, 133, 99);
    margin: 15px auto;
}

.room-details-home-button{
    padding: 10px 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    background-color: rgb(180, 133, 99);
}

.middle-section-container{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.text-row-imag-container{
    max-width: 50%;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.row-img{
    padding-left: 25px;
    width: 30%;
    height: 20%;
    object-fit: cover;
}

.details-info-container{
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
}
.details-text{
    margin-top: 20px;
    font-size: small;
}
.details-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.info-container {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 45%;
}
.info-text{
    margin-top: 20px;
    font-size: small;
    font-weight: 200;
}
.extras-main-container {

    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

.extras-text-containe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.extras-text-item{
    display: flex;
    flex-direction: column;
}
.extra-text-sub-item{
    margin-top: 15px;
    font-size: small;
}