header {
    width: 100vw;
    height: 90vh;
    background-image: url(../../assets/img/jpeg/defaultBcg2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.553);
    width: 42vw;
    height: 27vh;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-size: 6vmin;
}

.line-bar {
    width: 130px;
    height: 4px;
    background-color: rgb(180, 133, 99);
    margin: 15px auto;
}

.header-content p {
    font-size: 2vmin;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-button{
    padding: 10px 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    background-color: rgb(180, 133, 99);
}


/* == Services == */

.services {
    width: 100vw;
    height: 35vh;
    background-color: rgb(201, 197, 197);
}
.home-services-title {
    text-align: center;
    font-size: 2vmin;
}

.home-services-title h1 {
    padding-top: 20px;
}

.home-services-line-bar{
    width: 60px;
    height: 4px;
    background-color: rgb(180, 133, 99);
    margin: 15px auto;
}

.home-services-service-list{
    margin: 30px auto;
}

.featured{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   margin-top: 75px;
   justify-content: center;
   align-items: center;
}

.home-featured-img-card-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}