.search-room-top-section{
    width: 100%;
    position: relative;
}

.card-trans-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.553);
    font-size: 25px;
    color: white;
}

.search-room-main-logo{
    width: inherit;
    height: 600px;
    object-fit: cover;
}

.card-trans-button{
    padding: 10px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(180, 133, 99);
}

.line-bar{
    height: 5px;
    width: 20%;
    margin-top: 15px;
    background-color: rgb(180, 133, 99);
}

.search-line-bar{
    height: 5px;
    width: 4%;
    margin-top: 20px;
    background-color: rgb(180, 133, 99);
}

.middle-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.middle-section-top-part{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-type-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

.title-text{
margin-top: 10px;
}

.room-search-check-box{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.check-box-section{
    flex-direction: row;
}

.check-box{
    margin-bottom: 15px;
}

.room-size-input-text-area {
    width: 90px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 2px;
}
.card-image-container{
    width: 57%;
    margin-top: 60px;
    text-align: center;
    justify-content: flex-start;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}