.link-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.link-card img {
    width: 100%;
}

.item-text{
    font-size: small;
    font-weight: 700;
    width: 100%;
    padding: 8px;
    color: whitesmoke;
    background-color: #000;
}