.card-container{
    position: relative;
}

.link-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.link-card img {
    width: 100%;
}

.item-text{
    font-size: small;
    font-weight: 700;
    width: 100%;
    padding: 8px;
    color: whitesmoke;
    background-color: #000;
}

.card-left-corner-content{
    top: 10px;
    left: 10px;
    position: absolute;
    height: 35px;
    width: 65px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.749);
    border-bottom-right-radius: 40%;
}

.card-left-corner-content text {
    font-size: medium;
    font-weight: 400;
    color: whitesmoke;

}
.card-left-corner-content p {
    font-size: smaller;
    color: whitesmoke;
    font-weight: 300;
}