.footer-container{
    min-height: 150px;
    padding: 20px 80px;
    margin: 0;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

.footer-container h1{
  margin: 20px auto;
}

.footer-container p{
    margin: 20px auto;
}