.footer-container{
    text-align: center;
    background-color: #00040a;
    color: white;
  }

  .footer-container h1{
    padding-top: 20px;
  }

  .footer-container p{
    padding-bottom: 30px;
    padding-top: 20px;
  }